name: Test Flatpak build
run-name: Build Flatpak
# Run when PR is opened or a commit is pushed to main branch.
on:
  pull_request:
    types: [opened, edited, reopened]
  push:
    branches:
     - 'main'
jobs:
  Flatpak-Builder-Action:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: dev.qwery.AddWater.Devel.flatpak
          manifest-path: build-aux/dev.qwery.AddWater.json
